.cart-menu {
  position: absolute;
  top: 40px;
  left: -340px;
  background-color: rgb(36, 37, 41);
  width: 370px;
  padding: 20px;
  z-index: 2;
  border-radius: 15px;

  &__games-list {
    display: flex;
    flex-direction: column;
  }
  &__arrange {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
  &__total-price {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
}