.order-page {
	padding: 0 40px;

	&__default {
		color: #888888;
		display: flex;
		justify-content: center;
	}
	&__list {
		color: #fff;
	}
	&__total {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-price {
			color: #888888;
		}
	}
}