.cart-block {
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  &__icon {
    position: relative;
  }
  &__title {
    margin-left: 10px;
    color: #fff;
    font-size: 18px;
  }
}